/1AE10900.tmpZone.Identifier
/WeiterbildungStatistikGym2.Rnw~
/WeiterbildungStatistikGym2.nav
/WeiterbildungStatistikGym.out
/Journal of Applied Ecology - 2021 - Straw - Roundup causes high levels of mortality following contact exposure in bumble-19413.pdf
/WeiterbildungStatistikGym.nav
/Data Exp4.xlsx
/Qubes Lesson Plan_ Student Version-19421.docx
/Journal of Applied Ecology - 2021 - Straw - Roundup causes high levels of mortality following contact exposure in bumble-19413 (1).pdfZone.Identifier
/Lesson_Student-19415.RmdZone.Identifier
/WeiterbildungStatistikGym.aux
/WeiterbildungStatistikGym.toc
/WeiterbildungStatistikGym2.pdf
/Confoundig.R
/WeiterbildungStatistikGym2.tex~
/Lesson Data-19414.zipZone.Identifier
/back.R~
/WeiterbildungStatistikGym.tex
/Lesson_Student-19415.Rmd
/Napoleon.pngZone.Identifier
/WeiterbildungStatistikGym2.aux
/WeiterbildungStatistikGym2.snm
/WeiterbildungStatistikGym.pdf
/Gapminder.R
/back.R
/Qubes Lesson Plan_ Student Version-19421.docxZone.Identifier
/Data Exp1.xlsx
/WeiterbildungStatistikGym.snm
/Qubes Lesson Plan_ Teacher Version-19422.docxZone.Identifier
/Lesson_Teacher-19416.Rmd
/fig
/Rplots.pdf
/Lesson Data-19414.zip
/Lesson Metadata.docx
/Lesson_Teacher-19416.RmdZone.Identifier
/Journal of Applied Ecology - 2021 - Straw - Roundup causes high levels of mortality following contact exposure in bumble-19413.pdfZone.Identifier
/WeiterbildungStatistikGym2.Rnw
/Data Exp5.xlsx
/95E4570E.tmpZone.Identifier
/WeiterbildungStatistikGym.log
/WeiterbildungStatistikGym2.tex
/WeiterbildungStatistikGym2.log
/Qubes Lesson Plan_ Teacher Version-19422.docx
/WeiterbildungStatistikGym2.toc
/WeiterbildungStatistikGym.Rnw
/WeiterbildungStatistikGym2.out
/src